body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

form.transform_data {
	position: absolute;
	left: 1em;
	margin: 0;
	height: 100%;
	overflow: hidden;
	width: 32.5em;
    left: 0%;
    text-align: center;
    padding: 1em;
    background-color: rgba( 0, 0, 0, 0.3 );
    border-radius: 0em 0.5em 0.5em 0em;
    border-right: 1px solid rgba( 255, 255, 255, 0.3 );
    border-top: 1px solid rgba( 255, 255, 255, 0.3 );
    border-bottom: 1px solid rgba( 255, 255, 255, 0.3 );
	box-sizing: border-box;
}

/* 为选项卡设置样式 */
form .input_erea .tab {
	position: absolute;
	top: 1em;
	left: 1em;
	overflow: hidden;
	display: inline-block;
	width: 8em;
	height: 10em;
	/* border: 1px solid #ccc; */
	border: 1px solid rgba( 255, 255, 255, 0.3 );
	border-radius: 0.5em, 0em, 0em, 0.5em;
	border-right: none;
	/* background-color: #f1f1f1; */
  }
  
/* 为用于打开选项卡内容的按钮设置样式 */
form .input_erea .tab button {
	width: 100%;
	height: 33.33%;
	display: block;
	background-color: #888;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0px;
	transition: 0.3s;
	font-weight: bold;
	color:rgb(255, 255, 255);
	display: block;
}

/* 更改悬停按钮的背景颜色 */
form .input_erea .tab button:hover {
	background-color: #666;
}

/* 创建一个活动的/当前的 tablink 类 */
form .input_erea .tab button.active {
	background-color: #333;
}

form .input_erea .content {
	position: absolute;
	top: 1em;
	left: 9em;
	width: 35em;
	height: 10em;
	/* border: 10px solid white; */
	/* display: inline-block; */
}

/* 设置选项卡内容的样式 */
form .input_erea .content .input_box {
	display: block;
	margin: 0px;
	padding: 1em;
	width: 20em;
	height: 8em;
	resize: none;
	background-color: transparent;
	color:rgb(255, 255, 255);
	border: 1px solid rgba( 255, 255, 255, 0.3 );
	font-size: 13px;
	border-radius: 0em 0.5em 0.5em 0em;
	border-left: none;
}

form .input_erea .content .input_box:focus {
	display: block;
	margin: 0px;
	padding: 1em;
	width: 20em;
	height: 8em;
	background-color: transparent;
	color:rgb(255, 255, 255);
	/* border: 1px solid rgba( 255, 255, 255, 0.3 ); */	/* meaningless settings */
	font-size: 13px;
	border-radius: 0em 0.5em 0.5em 0em;
	border-left: none;
}

form .input_erea .content .input_box:-webkit-autofill,
form .input_erea .content .input_box:-webkit-autofill:hover, 
form .input_erea .content .input_box:-webkit-autofill:focus, 
form .input_erea .content .input_box:-webkit-autofill:active {
   transition: background-color 5000s ease-in-out 0s !important;
   -webkit-text-fill-color: #ccc;
}

form .output_erea {
	display: block;
	position: absolute;
	top: 15em;
	left: 1em;
	text-align: left;
}

form .output_erea h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#bbb;
}

form .output_erea p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#eee;
}

form .output_erea fieldset {
	font-family: Arial, Helvetica, sans-serif;
    width: 365px;
    height: 120px;
	margin-top: 15px;
	border-color: #666;
    border-radius: 0.5em;
}

form .output_erea fieldset legend {
	font-weight: bold;
	font-size: 15px;
	color:#bbb;
	margin: auto;
	padding: 0 10px;
}

form .output_erea .quaternion_data .property{
	margin: 0;
	width: 5%;
	height: 25%;
	display:inline-block;
	box-sizing:border-box;
	text-align: left;
}
  
form .output_erea .quaternion_data  .value{
	text-align:left;
	padding-left:20px;
	width: 95%;
	height: 25%;
	display:inline-block;
	box-sizing:border-box;
}

form .output_erea .matrix_data  div{
	text-align:left;
	width: 33%;
	height: 33%;
	display:inline-block;
	box-sizing:border-box;
}

form .output_erea fieldset .property{
	/* margin-right: 5px; */
	/* width: 10px; */
	width: 5%;
	height: 33%;
	display:inline-block;
	box-sizing:border-box;
	text-align:left;
}
  
form .output_erea fieldset .value{
	text-align:left;
	padding-left:20px;
	/* width: 100px; */
	width: 95%;
	height: 33%;
	display:inline-block;
	box-sizing:border-box;
}